@font-face {
    font-family: 'Chalk';
    src: url('font/Cute\ Love.ttf');
  }

body {
    font-family: 'Helvetica'; /* Change to a romantic cursive font */
    background-color: #fee7e9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0;
    font-size: 20px;
    color: #feb0ce;
}
.hh{
    -webkit-text-stroke: 1px #ffffff;
    font-weight:900;

}
.pp{
    -webkit-text-stroke: 1px #ffffff;

    font-size: 30px;
    font-weight: 800;
}

body

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.image{
    height: 280px;
    
}

.buttons button {
    background-color: #feb0ce;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 10%;
    font-size: 26px;
    cursor: pointer;
    position: relative;
    font-family: 'Chalkboard', cursive; /* Change to a romantic cursive font */

}

.buttons button:hover {
    background-color: #fb9bc0;

}

.buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#no-button{
    
}

.hidden-message {
    display: none;
    margin-top: 20px;
}

.move {
    animation: moveNoMessage 0.5s linear;
}

@keyframes moveNoMessage {
    0% { transform: translate(0, 0); }
    25% { transform: translate(30px, 30px); }
    50% { transform: translate(-20px, -20px); }
    75% { transform: translate(10px, 10px); }
    100% { transform: translate(0, 0); }
}
